extends layout 

block content
    h1.bg-info.p-2.text-white.text-center #{title}
    form.card.card-body.m-4.p-2(action="/employees/update/"+employee._id, method="POST") 
        label Fullname: 
        input.form-control.mb-2(type="text", name="fullname" value=employee.fullname required)
        label Position: 
        input.form-control.mb-2(type="text", name="position" value=employee.position required)
        input.btn.btn-info.btn-block(type="submit", value="submit")
