doctype html 
html 
    head 
        title employeeList app 
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        block content 
        footer.bg-info.p-1.fixed-bottom
            p.text-white.text-center Copyright &copy; 2021